.result-screen{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 40px;
    margin-top: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); 
    z-index: 1000; 
}

.result-screen.no-results {
    height: calc(100vh - 180px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-screen.no-results h1 {
    font-size: 24px;
    color: #163172;
    text-align: center;
}
