.LogSign{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 768px) {
    .LogSign {
        grid-template-columns: 1fr;
        overflow: scroll;
    }

    .login-form{
        padding-bottom: 30px;
    }

    .login-screen2{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 451px) {
    .inputs-container{
        padding-left: 10px;
        padding-right: 10px;
    }
}

.title {
    position: absolute;
    left: 30px;
    top: 30px;
    margin: 0;
    z-index: 1;
    font-family: 'Apple Chancery', cursive;
    -webkit-text-size-adjust: 100%;
    color: #D6E4F0;
}

.login-screen{
    min-height: 100vh;
    background-color: #163172; 
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #163172; 
    gap: 15px;
    position: relative;
    top: 170px;
}

.login-form h2 {
    color: #D6E4F0; 
    font-size: xx-large;
    text-align: center;
    z-index: 1;
    margin-top: -10px;
}

.login-form h3{
    color: #D6E4F0;
}


.login-form img {
    margin-top: 10px;
    width: 70px;
    background-color: #D6E4F0;
    border-radius: 50%;
}

.login-form p{
    margin-top: 30px;
}

.separator2 {
    display: flex;
    align-items: center;
    width: 60%;       
    margin: 2em 0;     
}

.separator2::before,
.separator2::after {
    content: "";
    flex: 1;                   
    height: 3px;               
    background-color: #D6E4F0;   
}

.separator2::before {
    margin-right: 0.75em;
}
.separator2::after {
    margin-left:  0.75em;
}

.separator2 span {
    white-space: nowrap;  
    color: #D6E4F0;
    font-weight: bold;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    gap: 5px;
    z-index: 1;
}

.input-container label {
    color: #1E56A0; 
    font-weight: 500;
    font-size: 14px;
}

.input-container input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    background-color: #D6E4F0; 
    color: #163172;
    outline: none;
}

.input-container input::placeholder{
    color: #58769c;
}

.input-container input:focus {
    box-shadow: 0 0 0 2px #1E56A0;
}

.login-button {
    background-color: #1E56A0; 
    color: #D6E4F0; 
    font-weight: bold;
    border: none;
    padding: 12px 0;
    margin-top: 50px;
    width: 100%;
    max-width: 150px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease, color 0.2s ease;
    z-index: 1;
}

.login-button:hover {
    background-color: #163172;
    color: #F6F6F6; 
}

.login-form p{
    color: #D6E4F0;
    text-decoration: underline;
}

.login-form p:hover{
    color: #1E56A0;
}

.login-screen2{
    background-color: #D6E4F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.login-screen2 h1{
    color: #163172;
    font-weight: 600;
    font-size: 2.5em;
}

.login-screen2 p{
    color: #163172;
    font-size: large;
}

.centered-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.centered-container button{
    margin-top: 20px;
    background-color: #163172;
    color: #D6E4F0;
    padding: 12.5px;
    border-radius: 30px;
    font-size: larger;
    border: none;
}

.centered-container button:hover{
    background-color: #1E56A0;
}

.separator {
    display: flex;
    align-items: center;
    width: 70%;       
    margin: 2.5em 0;     
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;                   
    height: 3px;               
    background-color: #163172;   
}

.separator::before {
    margin-right: 0.75em;
}
.separator::after {
    margin-left:  0.75em;
}

.separator span {
    white-space: nowrap;  
    color: #163172;
    font-weight: bold;
}