.Student-sign-up-1 {
    display: flex;
    flex-direction: column;       
    justify-content: center;     
    align-items: center;         
    min-height: 100vh;            
    margin: 0;
    padding: 0;                  
    background-color: #163172;
}

.title {
    color: #D6E4F0;
    font-family: "McLaren", cursive;
    margin-bottom: 1rem;
}

.Sign-up-form {
    background-color: #D6E4F0;
    border-radius: 22px;
    width: 90%;
    padding: 2rem;                
    box-sizing: border-box;
}

.Sign-up-form h1{
    text-align: left;
}

.Sign-up-form > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.form-container {
    display: grid;
    grid-template-columns: max-content 1fr; 
    grid-row-gap: 2rem;
    grid-column-gap: 5rem;
    align-items: center;     
    width: 60%;              
}


.form-container h1{
    color: #163172;
    font-weight: 500;
}

.form-container input{
    background-color: #F6F6F6;
    color: #163172;
    border-radius: 25px;
    padding: 10px;
    border: none;
}

.form-container input::placeholder{
    color: #58769c;
    font-size:medium;
}

.form-container label{
    color: #163172;
    font-size: large;
}

.form-container button {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 1rem;
    padding: 10px;
    font-size: large;
    color: #D6E4F0;
    background-color: #1E56A0;
    border-radius: 20px;
    border: none;
}

.form-container button:hover{
    background-color: #163172;
}

/*Password*/

.input-with-icon {
    position: relative;
    width: 100%;
}

.input-with-icon input {
    width: 100%;
    padding-right: 2.5rem;
    background-color: #F6F6F6;
    color: #163172;
    border-radius: 25px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

.input-with-icon .eye-toggle {
    position: absolute;
    top: 3px;
    right: 0.75rem;       
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    padding-left: 3px;
    cursor: pointer;
    color: #163172;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-with-icon .eye-toggle:hover {
    background: none;
}

@media (max-width: 768px) {
    .form-container {
        grid-template-columns: 1fr;   
        grid-row-gap: 1rem;
        width: 90%;     
    }

    .form-container > div:first-of-type {
        display: none;
    }
      
    .Sign-up-form{
        position: relative;
        top: 100px;
        padding: 1rem 0 1rem 0;
    }

    .second-form{
        padding: 1rem 1rem 1rem 1rem;
    }

    .Student-sign-up-1{
        padding-bottom: 150px;
    }

    .form-contairner label,
    .form-contairner input {
        grid-column: 1;                      
    }
}

@media (max-width: 391px) {
    .login-screen {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (max-width: 1024px) {
    .form-container + svg {
        display: none;
    }
}
  
/******************************************************Tutor sign up***********************************************/

.next{
    background-color: #D6E4F0 !important;
    color: #1E56A0 !important;
}

.next:hover{
    background-color: #1E56A0 !important;
    color: #D6E4F0 !important;
}