.mode-selection-container h1{
    padding-bottom: 20px;
}

.mode-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.mode-buttons-container button{
    background-color: #D6E4F0;
    border: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.mode-buttons-container button:hover{
    background-color: #1E56A0;
    color: #F6F6F6;
}

.mode-buttons-container button.active{
    background-color: #163172;
    color: #D6E4F0;
}

@media screen and (max-width: 768px) {
    .mode-buttons-container{
        gap: 20px;
    }
}
