.subject-selection-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subject-selection-container > h1:first-child {
  margin-top: 20px;
}

.subject-selection-container h1{
    padding-bottom: 10px;
}

.subjects-container {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    gap: 35px;
}

@media (max-width: 768px) {
    .subjects-container {
        gap: 10px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.subjects-container button{
    background-color: #b6d2ea;
    border: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.subjects-container button:hover {
    background-color: #1E56A0;
    color: #F6F6F6;
}

.subjects-container button.active {
    background-color: #163172;
    color: #D6E4F0;
}

.topics-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;  
    max-width: 85%;  
    justify-content: center;
}

.topics-container button{
    background-color: #F6F6F6;
    color: #333;
    padding: 10px 15px;
    border-radius: 45px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.topics-container button:hover {
    background-color: #1E56A0;
    border: none;
    color: #F6F6F6;
}

.topics-container button.active {
    background-color: #163172;
    color: #D6E4F0;
}

.topics-container .Topic {
    flex: 1 1 200px; 
    min-width: 200px; 
}
